<h1>GET request received!</h1>
<table>
    <tr>
        <th>Parameter</th>
        <th>Value</th>
    </tr>
    {{#each dataList}}
        <tr>
            <td>{{this.key}}</td>
            <td>{{this.value}}</td>
        </tr>
    {{/each}}
</table>
